h2 { 
	display: block; text-align: center;
}

#name {
	font-family: Courier; position:relative; bottom: 3.5em; right: 3em; line-height: 50%; font-size: 30px; color: #606060;
}

div img {
	height: 8em; width: 10em;
}

nav {
	display: inline-block; font-family: Courier;
}

nav a {
	position: relative; left: 13em; color: white;
}

a {
	text-decoration: none;
}

#tabs {
	position: relative; bottom: 7em; left: -2em; background-color: #B7B7B7; width: 110%;
}

footer {
	display: inline-block; position: absolute; bottom: 1em; right: 1em;
}


a:hover {
	color: gold; 
}


footer a:visited {
	color: #606060;
}

footer a:link {
	color: #606060;
}

footer a:hover {
	color: gold; 
}