h2 { 
	display: block;
}

header {
	
}

#name {
	font-family: Courier; position: relative; bottom: 3.5em; left: 25%; line-height: 50%; font-size: 30px; 
	color: #606060; 
}

div img {
	height: 10em; width: 110%; position: relative; left: -1em; top: -1em;
}

nav {
	display: inline-block; font-family: Courier; 
}

nav a {
	position: relative; color: white; left: 25%;
}

a {
	text-decoration: none;
}

#tabs {
	position: relative; bottom: 7em; left: -2em; background-color: #B7B7B7; width: 110%;
}

footer {
	display: inline-block; position: absolute; bottom: 1em; right: 1em;
}


a:hover {
	color: gold; 
}


footer a:visited {
	color: #606060;
}

footer a:link {
	color: #606060;
}

footer a:hover {
	color: gold; 
}

section a {
	position: relative; bottom: 4em; left: 5em; font-size: 20px; color: purple;
}

.tech {
	display: inline-block; position: relative; bottom: 5em; left: 15em; width: 35%;
}

.cul {
	display: inline-block; position: relative; bottom: 5em; left: 15em; width: 35%;
}

